if $show-demo-menu {
  .demo-menu {
    fixed(60%, 0);
    width: 200px!important;
    align-self: flex-start;
    background: $primary;
    color: $white;
    z-index: 1000;
    transform: translate(-100%, -50%);
    transition: transform 0.3s;
    @media $mobile {
      display: none;
    }
    .btn {
      display: block;
      absolute(0px);
      right: -33px;;
      size(34px, 18px);
      background: $primary;
      border: 0;
      color: currentColor;
      cursor: pointer;
      border-radius: 0;
      min-width: 34px;
      
      &::before,
      &::after {
        content: '';
        display: block;
        absolute(50%, 20%);
        size(60%, 2px);
        margin-top: -1px;
        background: currentColor;
        transform-origin: center;
        transition: transform 0.3s;
      }
      
      &::before {
        transform: translateY(-5px);
        ^[0].is-opened& {
          transform: rotate(-45deg);
        }
      }
      &::after {
        transform: translateY(5px);
        ^[0].is-opened& {
          transform: rotate(45deg);
        }
      }
      
      {hover-focus-active} {
        outline: none;
      }
    }
    
    &:hover {
      transform: translate(0, -50%);
    }
    
    &__list {
      padding: 0;
    }
    
    &__item {
      margin: $spacers.ten.y 0;
    }
    
    &__link {
      display: block;
      padding: $spacers.two.y $spacers.fifteen.x;
      text-transform: uppercase;
      color: inherit;
      {hover-focus-active} {
        color: inherit;
      }
    }
  }
} else {
  .demo-menu {
    display: none;
  }
}