.page {
  &--dummy {
    
  }
}

.dummy-main {
  &__heading {
    font: bold 62px $font-base;
    color: $secondary-darker;
    text-align: center;
    text-transform: uppercase;
  }
  &__choise {
    flexy(center, flex-end);
    color: $secondary-darker;
    margin: 0 0 1.5rem;
  }
  &__img {
    .img {
      display: block;
      size(55px, auto);
      margin: 0 auto 0.5rem;
    }
    .title {
      font: bold 22px/1 $font-base;
    }
    
    &:first-child {
      text-align: right;
    }
  }
  &__q {
    font: bold 136px/0.7 $font-base;
  }
  &__text {
    flexy(flex-start, flex-start);
    text-transform: uppercase;
    
    .text-wrapper:first-child {
      flex: 0 0 auto;
      margin-right: 30px;
      text-align: right;
    }
    
    .title {
      font: 900 15px $font-base;
      color: $black;
      margin-bottom: 4px;
    }
    .subtitle {
      font: 900 24px/1 $font-base;
      color: $primary;
    }
    .text {
      font: normal 11px/13px $font-base;
    }
  }
}

.dummy-timer {
  margin: 4rem 0 7.5rem;
  
  &__heading {
    font: bold 30px/1 $font-base;
    color: $primary;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    @media $mobile {
      font-size: 40px;
      line-height: 1.25;
    }
  }
  
  &__time {
    flexy(center, flex-start);
    
    .days,
    .hours,
    .minutes {
      flex: 0 0 236px;
      color: $secondary-darker;
      text-align: center;
      @media $mobile {
        flex: 0 0 33%;
      }
    }
    .hours {
      @media $desktop {
        border-right: 1px solid $gray.border;
        border-left: 1px solid $gray.border;
      }
    }
    
    .num {
      font: bold 150px/0.7 $font-base;
      @media $mobile {
        font-size: 100px;
      }
    }
    .title {
      font: bold 22px $font-base;
      margin-top: 1rem;
      @media $mobile {
        font-size: 35px;
      }
    }
  }
}