.page {
  &--winners {
    .winners {
      @media $mobile {
        padding: (60*100/750)vw 0 (100*100/750)vw;
      }
      @media $desktop {
        padding-bottom: 85px;
      }
      &__heading {
        margin-bottom: 2rem;
      }
      &__table {
        margin-top: 2rem;
        .table {
          &__col {
            width: 50%;
            @media $mobile {
              &:first-child {
                width: 75%;
              }
              &:last-child {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
}