extends template

prepend page
  - var layout = 'detail';
  - var currentPage = 'modals';

block content
  .page.page--modals
    .modals
      .l-container
        .modals__heading.tp-heading--big.tp-text--center.my-6 Попапы
        .modals__content.pb-6
          button.btn.btn--primary.js-modal.ma-3(data-target="#login") Логин
          button.btn.btn--primary.js-modal.ma-3(data-target="#pass-recover") Восстановление пароля
          button.btn.btn--primary.js-modal.ma-3(data-target="#personal") Анкета
          br
          button.btn.btn--primary.js-modal.ma-3(data-target="#reg") Регистрация
          button.btn.btn--primary.js-modal.ma-3(data-target="#reg-confirm") Подтверждение регистрации
          button.btn.btn--primary.js-modal.ma-3(data-target="#reg-thanks") Спасибо за регистрацию
          br
          button.btn.btn--primary.js-modal.ma-3(data-target="#reg-code") Зарегистрировать код
          button.btn.btn--primary.js-modal.ma-3(data-target="#reg-code-confirm") Код зареган
          button.btn.btn--primary.js-modal.ma-3(data-target="#reg-code-confirm2") Код зареган + текст
          br
          button.btn.btn--primary.js-modal.ma-3(data-target="#garantee") Гарантированный приз
          button.btn.btn--primary.js-modal.ma-3(data-target="#instr") Инструкция
          br
          button.btn.btn--primary.js-modal.ma-3(data-target="test") Тест
          button.btn.btn--primary.js-modal.ma-3(data-target="#test-win") Тест пройден
          button.btn.btn--primary.js-modal.ma-3(data-target="#test-loose") Тест не пройден