include ./mixins
- var isLoggedin = false;
doctype html
block page
  html
    head
      block head
        title Rockwool
        //- meta(property="og:title", content="Rockwool")
        //- meta(property="og:description", content="Description")
        //- meta(property="og:image", content="")
        //- include parts/favicon
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="build/css/main.css", rel="stylesheet")
        //- link(rel="icon" type="image/png" href="favicons.png" sizes="16x16")
        script(src="build/js/vendor/jquery-3.2.1.min.js")
        script(src="build/img/svg/sprite.js")
    body
      .svg-sprite.l-hidden
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      .layout(class="layout--" + layout, class= isLoggedin ? "layout--loggedin" : "")
        include parts/header
        block content
        include parts/footer
        include parts/modal
        include components/demo-menu
      
      script(src="build/js/main.js")