
<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item"><a class="main-nav__link" href="gifts.html">призы</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="winners.html">победители</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="faq.html">FAQ</a></li>
    <li class="main-nav__item"><a class="main-nav__link disabled" href="rules.html">правила акции</a></li>
    <li class="main-nav__item"><a class="main-nav__link disabled" href="#">вход в&nbsp;личный кабинет</a></li>
  </ul>
</nav>