.code-reg {
  &__content {
    padding: (40*100/750)vw 0 (20*100/750)vw;
    @media $desktop {
      padding: 3.5rem;
      border: 1px dashed $gray.border;
    }
  }
  &__heading {
    margin-bottom: 0.5rem;
  }
  &__text {
    margin-bottom: 1.5rem;
  }
  
  &__form {
    margin-top: 1.5rem;
    .field--checkbox,
    .field--radio {
      @media $desktop {
        display: inline-block;
        margin-bottom: 0;
        
        & + .field--checkbox,
        & + .field--radio {
          margin-left: 2rem;
        }
      }
    }
  }
}