include ../mixins
// footer
.footer
  .l-container
    .footer__content
      if layout == 'dummy'
        .footer__copy
          p Copyright © 2018, ROCKWOOL International A/S
        .footer__text 
          p &laquo;Общий срок проведения Акции с&nbsp;01.05.2018 года по&nbsp;15.10.2018&nbsp;года. С&nbsp;информацией об&nbsp;организаторе Акции, правилах ее&nbsp;проведения, количестве призов или выигрышей по&nbsp;результатам Акции, сроках, месте и&nbsp;порядке их&nbsp;получения можно ознакомиться на&nbsp;сайте www.rockwool100.ru. Количество призов ограничено. Внешний вид призов может отличаться от&nbsp;изображений&raquo;. <b>Правила Акции будут размещены 30.04.2018&nbsp;года.</b>