include ../mixins
// header
.header
  .l-container
    .header__content
      a.header__logo.logo.logo--rockwool(href="/"): img(src="/build/img/rockwool.png", alt="Rockwool")
      .header__menu
        .main-nav-btn
          div
          div
          div
        include ../components/main-nav
.header-screen
  .l-container
    .header-screen__content
      .header-screen__img: img(src="/build/img/img-main.png", alt="Rockwool")
      .header-screen__money: img(src="/build/img/money.png", alt="Rockwool")