include ../mixins
// header
.header
  .l-container
    .header__content
      .header__logo.logo.logo--rockwool: img(src="/build/img/rockwool.png", alt="Rockwool")
      .header__menu
        include ../components/main-nav
.header-screen
  .l-container
    .header-screen__content
      .header-screen__img: img(src="/build/img/money.png", alt="Rockwool")