$wb = {
  'white': #ffffff,
  'light': #dbdbdb,
  'grey-light': #979797,
  'grey': #7d7d7d,
  'grey-dark': #09060b,
  'dark': #333333,
  'black': #000000
}

$blue = {
  'base': #eaf1ff,
  'light': #b7caf7,
  'pale-grey': #e8ebf1
}

$pink = {
  'base': #fee3e0,
  'light': #ffe9ee
}

$indigo = {
  'base': #4d0095
}

$socials = {
  "vk": #398dbc,
  "fb": #3b5998,
  "tw": #55acee,
  "gplus": #dc4e41,
  "youtube": #f44336,
  "instagram": #d43999,
  "in": #007ab9
}


$colors-tree = {
  "wb": $wb
  "pink": $red,
  "blue": $blue,
  "indigo": $indigo
}
