@import 'vars.styl';
@import 'fonts.styl';
@import 'colors.styl';
@import './tools/mixins.styl';
@import './grid/gridlex.styl';
@import './plugins/plugins.styl';
@import './base/color-pack.styl';
@import './base/normalize.styl';
@import './base/hiddens.styl';
@import './base/layout.styl';
@import './base/spacings.styl';
@import './base/typography.styl';
@import './base/forms.styl';
@import './base/icon.styl';
@import './base/buttons.styl';
@import './base/modal.styl';
@import './base/demo-menu.styl';

@import './components/header.styl';
@import './components/footer.styl';
@import './components/main-nav.styl';
@import './components/card.styl';
@import './components/code-reg.styl';
@import './components/steps.styl';
@import './components/gifts.styl';
@import './components/accordion.styl';
@import './components/tabs.styl';

@import './pages/home.styl';
@import './pages/dummy.styl';
@import './pages/gifts.styl';
@import './pages/winners.styl';
@import './pages/faq.styl';
@import './pages/profile.styl';