$color-pack = false;
$use-fonts = true;
$use-fonts-extended = false;
$show-demo-menu = false;

// Fonts
// ============================================================
$font-base = FuturaFuturisC, Roboto, helvetica, arial, sans-serif;
$font-accent = $font-base;
$font-util = Gilroy, Roboto, helvetica, arial, sans-serif;
$font-size-base = 16px;
// fonts to include
$fonts-path = '../assets/fonts/';
$fonts-arr = {
  'normal': {
    name: "FuturaFuturisC",
    file: FuturaFuturisC,
    weight: normal,
    style: normal
  },
  'bold': {
    name: "FuturaFuturisC",
    file: FuturaFuturisC-Bold,
    weight: bold,
    style: normal
  },
  'black': {
    name: "FuturaFuturisC",
    file: FuturaFuturisBlackC,
    weight: 900,
    style: normal
  },
  'gilroy': {
    name: "Gilroy",
    file: Gilroy-Regular,
    weight: 400,
    style: normal
  },
  'gilroyBold': {
    name: "Gilroy",
    file: Gilroy-Bold,
    weight: bold,
    style: normal
  }
};

//Colors
$primary = #d20000;
$secondary = #a3ef38;
$secondary-darker = #7cd53c;
$white = #ffffff;
$gray = {
  "bg": #bebebe,
  "border": #d1d1d1,
  "text": #6c6c6c
}
$black = #000000;


// Grid
// ============================================================
$grid-breakpoints := {
  xs: 0
  ms: 480px
  sm: 768px
  md: 1024px
  lg: 1280px
  xl: 1600px
  //lg: (1440px - 16px) // Desktop gets a 16dp reduction
  //xl: (1920px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
}

$header-height = 78px;

$container-widths = {
  min: 20rem, // 320px
  max: 61.875rem // 990px
}


$grid-gutter = 1.875rem
$grid-gutter-mobile = 1rem
$grid-columns = 12



// Display
// ============================================================
$display-breakpoints := {
  xs-only: "only screen and (max-width: %s)" % ($grid-breakpoints.ms - 1)
  ms-only: "only screen and (min-width: %s) and (max-width: %s)" % ($grid-breakpoints.ms ($grid-breakpoints.sm - 1))
  ms-and-down: "only screen and (max-width: %s)" % ($grid-breakpoints.sm - 1)
  ms-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.ms
  sm-only: "only screen and (min-width: %s) and (max-width: %s)" % ($grid-breakpoints.sm ($grid-breakpoints.md - 1))
  sm-and-down: "only screen and (max-width: %s)" % ($grid-breakpoints.md - 1)
  sm-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.sm
  md-only: "only screen and (min-width: %s) and (max-width: %s)" % ($grid-breakpoints.md ($grid-breakpoints.lg  - 1))
  md-and-down: "only screen and (max-width: %s )" % ($grid-breakpoints.lg - 1)
  md-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.md
  lg-only: "only screen and (min-width: %s) and (max-width: %s)" % ($grid-breakpoints.lg ($grid-breakpoints.xl - 1))
  lg-and-down: "only screen and (max-width: (%s - 1))" % $grid-breakpoints.xl
  lg-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.lg
  xl-only: "only screen and (min-width: %s)" % $grid-breakpoints.xl
}

// Spacing
// ============================================================
$spacer := $font-size-base
$spacer-x := $spacer
$spacer-y := $spacer
$spacers := {
  zero: {
    x: 0,
    y: 0
  },
  one: {
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  },
  two: {
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  },
  three: {
    x: $spacer-x,
    y: $spacer-y
  },
  four: {
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  },
  five: {
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  }
  six: {
    x: ($spacer-x * 2.5),
    y: ($spacer-y * 2.5)
  }
  seven: {
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  },
  eight: {
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  },
  ten: {
    x: ($spacer-x * 0.625),
    y: ($spacer-y * 0.625)
  },
  fifteen: {
    x: 15px,
    y: 15px
  },
  twenty: {
    x: ($spacer-x * 1.25),
    y: ($spacer-y * 1.25)
  },
  thirty: {
    x: 30px,
    y: 30px
  }
}

$border-radius-base = 3px;

// State selectors
hover-focus = '&:hover,&.is-hover,&:focus,&.is-focus';
active = '&:active,&.is-active';
hover-focus-active = '&:hover,&.is-hover,&:focus,&.is-focus,&:active,&.is-active';

$mobile = 'screen and (max-width: 1024px)';
$desktop = 'screen and (min-width: 1025px)';